Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1648883617327/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1651215151197/work
dash @ file:///home/conda/feedstock_root/build_artifacts/dash_1652328999420/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1651670959703/work
Flask-Compress @ file:///home/conda/feedstock_root/build_artifacts/flask-compress_1651163502372/work
gunicorn @ file:///home/conda/feedstock_root/build_artifacts/gunicorn_1649384844586/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1653252803161/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1651774399431/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1648737547956/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1653325310407/work
pandas==1.4.2
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1652244795666/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1626090218611/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1651670883478/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1649012893348/work
